{% extends 'base.html' %}

{% block content %}
    <div class="page-container">
        <div class="main-title">
            СИСТЕМА ОЦЕНИВАНИЯ 360 ГРАДУСОВ
        </div>
        <div class="sub-title">
            Авторизация
        </div>
        <div class="scoring-card ">
            <div class="scoring-card__title">
                <h4>Укажите веса компетенций</h4>
            </div>
            <form method="post" action="{% url "login" %}">
                {% csrf_token %}
                <div class="scoring-card__row">
                    {{ form.username }}
                </div>
                <div class="scoring-card__row">
                    {{ form.password }}
                </div>
                <div class="button-grid">
                    <input class="button-grid__button" type="submit" value="Войти"/>
                    <input type="hidden" name="next" value="{% url "interview:estimate_list" %}"/>
                </div>
            </form>
        </div>

    </div>
{% endblock %}