{% extends "base.html" %}

{% block content %}
    <div class="main-title">
            СИСТЕМА ОЦЕНИВАНИЯ 360 ГРАДУСОВ
    </div>
    <div class="scoring-card ">
    <div class="scoring-card__title">
            <h4>Оцените данных пользователей</h4>
        </div>
        {% for el in object_list %}
            <div class="scoring-card__row">
                <span class="scoring-card__row__span">
                    <a href="{% url "core:test" pk=el.id %}">
                        {{ el.first_name }} {{ el.patronymic_name }} {{ el.last_name }}
                    </a>
                </span>
            </div>
        {% endfor %}
    </div>
{% endblock %}