<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Оценка 360 градусов</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Roboto" rel="stylesheet">
</head>
<body>
    {% block content %}
    {% endblock %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery.circlechart.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/sweetalert.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>