{% extends 'base.html' %}

{% block content %}
    <div class="page-container">
        <div class="main-title">
            СИСТЕМА ОЦЕНИВАНИЯ 360 ГРАДУСОВ
        </div>

        <div class="sub-title">
            <input class="marked_user__id" type="hidden" value="{{ object.id }}">
            Оцениваемый: {{ object.last_name }} {{ object.first_name }}
        </div>

        {% include "marks/weight_create_form.html" %}

        {% include "marks/professionalismmark_create_form.html" %}

        {% include "marks/controlmark_create_form.html" %}

        {% include "marks/communicationmark_create_form.html" %}

        {% include "marks/clientorientationmark_create_form.html" %}

        {% include "marks/efficiencymark_create_form.html" %}

        {% include "marks/evolutionmark_create_form.html" %}

        {% include "marks/leadershipmark_create_form.html" %}

        {% include "marks/teamworkmark_create_form.html" %}

    </div>
{% endblock %}