<div class="scoring-card">
    <form action="{% url "marks:add_control_mark" %}">
        {% csrf_token %}
        <div class="scoring-card__title">
            <h4>Управление</h4>
        </div>
        <div class="scoring-card__row">
            <span class="scoring-card__row__span">{{ control_mark.feedback.label }}</span>
            {{ control_mark.feedback }}
        </div>
        <div class="scoring-card__row">
            <span class="scoring-card__row__span">{{ control_mark.motivation.label }}</span>
            {{ control_mark.motivation }}
        </div>
        <div class="scoring-card__row">
            <span class="scoring-card__row__span">{{ control_mark.personal.label }}</span>
            {{ control_mark.personal }}
        </div>
        <div class="scoring-card__row">
            <span class="scoring-card__row__span">{{ control_mark.affair.label }}</span>
            {{ control_mark.affair }}
        </div>
        <div class="scoring-card__row">
            <span class="scoring-card__row__span">{{ control_mark.delegation.label }}</span>
            {{ control_mark.delegation }}
        </div>
        <div class="scoring-card__row">
            <span class="scoring-card__row__span">{{ control_mark.goal.label }}</span>
            {{ control_mark.goal }}
        </div>
        <div class="button-grid">
            <button class="button-grid__button">Сохранить</button>
        </div>
    </form>
</div>