body{
    background-color: azure;
    font-family: 'Roboto', sans-serif;
}

.page-container{

}

.main-title{
    text-align: center;
    margin: 50px auto;
    width: 700px;
    font-size: 26px;
    letter-spacing: 5px;
    font-family: 'Playfair Display', serif;
}

.sub-title{
    text-align: center;
    margin: 50px auto;
    width: 350px;
    font-size: 16px;
}

.scoring-card{
    margin: auto;
    width: 350px;
    border: 1px solid #94bbce;
    background-color: aliceblue;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: none;
}

.scoring-card__title{
    font-size: 20px;
    text-align: center;
}

.scoring-card__row{
    min-height: 30px;
    line-height: 30px;
    margin: 6px;
    font-size: 16px;
    border: 1px solid #94bbce;
    padding: 4px;
}

.scoring-card__row__span{

}

.scoring-card__row__input{
    width: 20px;
    height: 20px;
    float: right;
}

.scoring-card__row__input::-webkit-outer-spin-button,
.scoring-card__row__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.button-grid{
    margin: 30px auto;
    width: 350px;
    text-align: center;
}

.button-grid__button{
    background-color: rgba(0, 186, 0, 0.45);
    border: 1px solid #94bbce;
    width: 150px;
    font-size: 16px;
    height: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.result_view{
	text-align: center;
}

.result_view__item{
	display: inline-block;
    text-align: center;
    text-align: -webkit-center;
    margin: 40px;
    margin-bottom: 60px;
}



.graph{
    margin: 20px;
}

.button-grid__a{
    background-color: rgba(0, 186, 0, 0.45);
    border: 1px solid #94bbce;
    width: 150px;
    font-size: 16px;
    padding: 15px 5px;
    text-decoration: none !important;
}

.button-grid__a:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.button-grid__a:visited{
    color: black;
}
